.controller.xbox{
    background: url(base.png) no-repeat;
    height: 658px;
    width: 784px;
}

.custom .p0{
    background-position: 0 -6px;
    opacity: 0;
}
.custom .p1{
    background-position: 0 -28px;
    opacity: 0;
}
.custom .p2{
    background-position: 0 -49px;
    opacity: 0;
}
.custom .p3{
    background-position: 0 -70px;
    opacity: 0;
}
